#debugHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#debugHostBtn a {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/debug/styles/images/variables_on.png?token=79b76c1d8010a59f0dae18c2f3bf31d5');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/debug/styles/images/variables_on.svg?token=7b4d549d43ec0f0cb02ece9254d3c25f'),linear-gradient(transparent, transparent);
}

.hashover #debugHostBtn a:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/debug/styles/images/variables_hover.png?token=caa6c2b629924d156e617a63d8a06a1d');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/debug/styles/images/variables_hover.svg?token=04cded082b3220ce8a5086fe112366d1'),linear-gradient(transparent, transparent);
}

#debugHostBtn a.selected, #debugHostBtn a.selected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/debug/styles/images/variables_off.png?token=76c6fa37faa5301b240ed2efd5f50fe8');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/debug/styles/images/variables_off.svg?token=5f00a6401c366950256703870b57b233'),linear-gradient(transparent, transparent);
}

#debugHeader .pageNameHeader {
    padding-right: 0px;
}

#variablesClearLink {
    display: inline-block;
    margin-bottom: 15px;
}

#variablesClearLink:hover {
    color: #0a6cd6;
}

#traceClearLink {
    display: inline-block;
    margin-bottom: 15px;
}

#traceClearLink:hover {
    color: #0a6cd6;
}

#debugScrollContainer 
{
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

#debugContainer {
        padding: 10px 10px 10px 10px;
}

.variableName
{
	font-weight: bold;
}

.variableDiv
{
    margin-bottom: 20px;
    line-height: 16px;

}

#variablesContainer {
    padding-bottom: 5px;
    /*overflow: auto;*/
}

#traceContainer {
    padding-top: 15px;
    /*padding: 0px 10px 10px 10px;*/
}

.debugToolbarButton 
{
	font-size: 1em;
	color: #069;
}

.axEventBlock {
    display: inline-block;
    width: 100%;
    margin: 5px 0px 5px 0px;
    line-height: 21px;
}

/*a.axEventBlock:hover {
    background-color: #069;
    color: white;
}*/

.axTime {
    margin: 0px 0px 0px 0px;
    font-size: 11px;
    color: #b1b3b5;
}

.axLabel {
    margin: 0px 0px 5px 0px;
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: bold;
}

.lastAxEvent {
    margin-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
}

.axEvent {
    margin: 0px 0px 5px 0px;
    font-weight: bold;
}

.axCase {
    margin: 0px 0px 5px 8px;
    font-style: italic;
}

.axAction {
    margin: 0px 0px 5px 13px;
}

#traceEmptyState.emptyStateContainer {
    margin-top: 0px;
}

.debugLinksContainer {
    text-align: right;
}