#pageNotesHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#pageNotesHostBtn a {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/notes_on.png?token=32ee150322e9a951af19d33647dc8537');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/notes_on.svg?token=66b46c8bfc8f8894076a2aef16e32d45'),linear-gradient(transparent, transparent);
}

.hashover #pageNotesHostBtn a:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/notes_hover.png?token=a1039a65905c93a9f6f6d5ce904e0e57');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/notes_hover.svg?token=7ad0f6a7b960d2713f40931883c7b319'),linear-gradient(transparent, transparent);
}

#pageNotesHostBtn a.selected, #pageNotesHostBtn a.selected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/notes_off.png?token=2a729e02189e925c56123774e5a975ea');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/notes_off.svg?token=dcefdcebf5c4e6f0ba3850308d2d9cea'),linear-gradient(transparent, transparent);
}

#footnotesButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/footnotes.png?token=cb7dcba4b377cee7d97989e95b621f81') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/footnotes.svg?token=df783cbe55f0143c088ee2ae1bc7f3c4') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/footnotes_hover.png?token=289d6c5e798114a98dc9cd0da715897a') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/footnotes_hover.svg?token=8719a3f21ce55569865020230a9ae4be') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton.sitemapToolbarButtonSelected, #footnotesButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/footnotes_on.png?token=eeb5a559cb6d2bdfe061d9d71efa0a1d') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/footnotes_on.svg?token=634d4965a3f46ed5e319cf696dbc64b4') no-repeat center center,linear-gradient(transparent, transparent);
}

.nextPageButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/forward.png?token=83e6366f1c87598404cabd31c11c2687') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/forward.svg?token=4b0effc0e67d7f36f1a1989a4ffa9f23') no-repeat center center,linear-gradient(transparent, transparent);    
}

.nextPageButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/forward_hover.png?token=6f87780d187583af07beb602b083a0e2') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/forward_hover.svg?token=57dd5b534c692f85dfd8f288adf23788') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/back.png?token=043337757c817e5591d812a0ed6cd4a0') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/back.svg?token=c7ae4cf621a778e99b33f15a0a0e9770') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/back_hover.png?token=45177bc809654e1c754957a9e8941f9c') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/page_notes/styles/images/back_hover.svg?token=d3ee4d51811eb93b1ea9e43a296c1949') no-repeat center center,linear-gradient(transparent, transparent);    
}

#pageNotesScrollContainer 
{
    overflow: auto;
    width: 100%;
    /*height: 100%;*/
    -webkit-overflow-scrolling: touch;
}    

#pageNotesContainer 
{
    /*padding: 10px 10px 10px 12px;*/
}

#pageNotesContent 
{
	overflow: visible;
}

.pageNoteContainer 
{
    padding: 10px;
}

.pageNoteName 
{
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;
	/*text-decoration: underline;*/
	white-space: nowrap;
}

.pageNote 
{
    line-height: 21px;
	/*margin-bottom: 20px;*/
}

.widgetNoteContainer {
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.widgetNoteContainerSelected {
    background-color: white;
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
}

/*.widgetNoteContainer:hover {
    background-color: white;
    //border-bottom: 1px solid #c2c2c2;
    //border-top: 1px solid #c2c2c2;
}*/

.widgetNoteFootnote {
    display: inline-block;
    /*vertical-align: top;
    margin: 2px 5px 10px 0px;
    padding: 1px 6px;
    font-size: 10px;
    color: #ffffff;
    background-color: #0a6cd6;*/
    width: 13px;
    height: 12px;
    padding-top: 1px;
    text-align: center;
    background-color: #138CDD;
    /*-moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;*/
    font-size: 0px;
    margin-right: 8px;
}

div.annnoteline {
    display: inline-block;
    width: 9px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 1px;
}

.widgetNoteLabel {
    display: inline-block;
    vertical-align: top;
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;    
}

.noteLink {
    text-decoration: inherit;
    color: inherit;
}

.noteLink:hover {
    background-color: white;
}