
#sitemapHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#sitemapHostBtn a {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/sitemap_on.png?token=bdc43aeaa9b6c6c0ee72f30a6ff6209e');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/sitemap_on.svg?token=1fc3be88d76fd7264ab989d2b7c8b7da'),linear-gradient(transparent, transparent);
}

.hashover #sitemapHostBtn a:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/sitemap_hover.png?token=450622dcab1bd90a4988ba63041497d7');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/sitemap_hover.svg?token=dddb24f481194b1fd622ec97ddc35c73'),linear-gradient(transparent, transparent);
}

#sitemapHostBtn a.selected, #sitemapHostBtn a.selected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/sitemap_off.png?token=a3833709a1aa075241cf5caa6e9bd336');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/sitemap_off.svg?token=7fc5ff50e2345620facfc100c294051e'),linear-gradient(transparent, transparent);
}

#sitemapHost .pageButtonHeader {
    top: -27px;
}

#sitemapTreeContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sitemapTree {
    margin: 0px 0px 10px 0px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/minus.gif?token=a59507df97e237fb231fb92776c6b354');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/plus.gif?token=3692c2a84706cff30e2951cfa59d4f36');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin: 0px 0px -3px 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/page.png?token=440a38f28e1024925123143666f38f0f') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/page.svg?token=61176a679710a7cc02237d5591fe2b9c') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFlowIcon
{
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/flow.png?token=d32038279208df5a67f18e3a75327282') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/flow.svg?token=8feee788214470102620ab8d5d466a5b') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderIcon
{
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/folder_closed.png?token=6ad8c61efbb10ce52cb3b191668db0c8') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/folder_closed.svg?token=b7b136ac0f9c36e0a84bb9ff533c3ad5') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderOpenIcon
{
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/folder_open.png?token=6a84e9b12d2b266d50a0ae697ce1e89b') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/folder_open.svg?token=3b2077bcc17542b4277cc02cf2c0df97') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapPageName 
{
    margin-left: 7px;
}

.sitemapNode 
{
    /*margin:4px 0px 4px 0px;*/
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    /*display: inline-block;*/
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
    /*display: inline-block;*/
	background-color : #C8E0F0;
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}


.pluginNameHeader
{
    font-family: 'Trebuchet MS';
	font-size: 12px;
    letter-spacing: 1px;
	/*font-weight: bold;*/
	white-space: nowrap;
    margin-bottom: 5px;
}

.pageNameHeader
{
    font-family: 'Trebuchet MS';
    /*display: inline-block;*/
    /*float: left;*/
	font-size: 15px;
	font-weight: bold;
	/*height: 23px;*/
    padding-right: 77px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonHeader
{
    float: right;
    position: relative;
    /*width: 72px;*/
	height: 24px;
    top: -22px;
    margin-bottom: -24px;
}

.sitemapHeader
{
    padding-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    min-width: 110px;
}

.sitemapToolbar {
    margin: 0px 5px 14px 12px;
}

.sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#linksButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/share.png?token=fa7fd36e1b9d6fe7931ad339e90f7fdb') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/share.svg?token=ade3cd32a900538b32c257696b781e76') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/share_hover.png?token=39fde065d0c49a565c87e253a1a24ade') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/share_hover.svg?token=f457cddbcd7089b503381d37fc8328cc') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton.sitemapToolbarButtonSelected, .hashover #linksButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/share_on.png?token=a886816c646673f25af678caeaaa3bd2') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/share_on.svg?token=332f5660560bed7e46485da776573503') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/views.png?token=1fedca2ca04269855cd4f2bb17cd88c0') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/views.svg?token=498edd03894270a159521cf22e6b9bcc') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/views_hover.png?token=56bbe62e477b0a10b5a9b8c514206e1d') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/views_hover.svg?token=7eb6f4723fb6b13a7acdf55d573c5100') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton.sitemapToolbarButtonSelected, #adaptiveButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/views_on.png?token=1d1593d0c0adbc6d2ad0dab3843cfda7') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/views_on.svg?token=ea7d0402fa16a96d831d7517d2fd83b2') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/hotspots.png?token=86091c258b0db0f6c03bd826b6ebbdc9') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/hotspots.svg?token=03cac0865e7da9f42afe016a60a2ca00') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 1px;
}

#highlightInteractiveButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/hotspots_hover.png?token=840c1fa7b52a39e8f1fa02e5fdd68ff2') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/hotspots_hover.svg?token=1189ea02e9c8c80bb99487c4b43bcb69') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton.sitemapToolbarButtonSelected, #highlightInteractiveButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/hotspots_on.png?token=8daf87d11bfd785ec2fa9b2728b597ae') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/hotspots_on.svg?token=ba00e0510950dbcc16c688c56f1e9b06') no-repeat center center, linear-gradient(transparent,transparent);
}

/*#variablesButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/229_variables_16.png?token=f505f81fda358e54b7f1435e6035bddf') no-repeat center center;
}*/

#searchButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/232_search_16.png?token=0cd60f62ef40bd61efe1d36b23e8e592') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
    padding: 5px;
}

.sitemapRadioSelected {
    font-weight: bold;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

#sitemapOptionsDiv
{
	margin-top: 10px;
	/*margin-left: 16px;*/
}

#viewSelectDiv
{
    padding: 2px 0px 0px 0px;
	/*margin-left: 5px;*/
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 8px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#sitemapLinksContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    /*line-height: 18px;*/
}

#adaptiveViewsContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    line-height: 18px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/FZTLWS/08/ee/b4/08eeb4b399084e7ca6c7f11131cbdc41/plugins/sitemap/styles/images/adaptivecheck.png?token=9cbf7b54b09fd953666520f4a20575c7') no-repeat center center;
}

/*#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}*/

/*#variablesClearLink 
{
	color: #069;
	left: 5px;
}*/

#searchDiv {
    padding: 8px 12px 11px 12px;
}

#searchBox {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding: 5px;
    font-size: 12px;
}

.searchBoxHint 
{
	color: #8f949a;
	/*font-style: italic;*/
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}