<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form id="dataForm">
			<div style="display:inline-block">
				<p><b>Job ID</b></p>
				<input name="roleID"/>
			</div>
			<div style="display:inline-block">
				<p><b>Organization Name</b></p>
				<select size="3">
					<option value="CBL">CBL</option>
					<option value="JCT">JCT</option>
					<option value="KLM">KLM</option>
					<option value="DDD">DDD</option>
					<option value="WWW">WWW</option>
				</select>
			</div>
			<div style="display:inline-block">
				<p><b>Position (Job) Category</b></p>
				<select>
					<option value="aaa">aaa</option>
					<option value="bbb">bbb</option>
					<option value="ccc">ccc</option>
					<option value="ddd">ddd</option>
					<option value="eee">eee</option>
				</select>
			</div>
		</form>
	
	</body>
</html>