<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Write Back Example</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="public/js/tableau-extensions-0.10.0.js"></script>
      <script src="public/js/script.js"></script>
	  <link rel="stylesheet" href="/style for data.css">
      <style>
	  @import "bourbon";
.rating_scale {
  display: block;
  text-align: center;
  font-size: 0;
}

.rating_scale input[type="radio"] {
  display: none;
}
.rating_scale input[type="radio"]:checked ~ span {
  background: #eb7823;
  color: #fff;
}
html, body {
  background: #eee;
}
</style>
  </head>
 <body>
<form action="#" method="POST" >
       <div class="rating_scale">
  <label id="first-child">
    <input type="radio" name="rad" value="1" /><span>1</span>
    <img src="1.jpg"/>
  </label>
  <label>
    <input type="radio" name="rad" value="2"/><span>2</span>
    <img src="2.jpg"/> 
  </label>
  <label>
    <input type="radio" name="rad" value="3"/><span>3</span>
	<img src="3.jpg"/>
  </label>
  <label>
    <input type="radio" name="rad" value="4"/><span>4</span>
    <img src="4.jpg"/>
  </label>
  <label>
    <input type="radio" name="rad" value="5"/><span>5</span>
    <img src="5.jpg"/>
  </label>
</div>
 
    <input type="submit" value="Submit">
</form>
	<script>
  function myFunction()
  {
    x=document.querySelector("input[name=\"rad\"]:checked").value
    document.write(x)
  }
</script>
  </body>
</html>
