<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Write Back Example</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="public/js/tableau-extensions-0.10.0.js"></script>
      <script src="public/js/script.js"></script>
	  <link rel="stylesheet" href="style for data.css">

  </head>
 <body>
 <div class="rating_scale">
  <label id="first-child">
    <input type="radio" name="rad" /><span>1</span>
  </label>
  <label>
    <input type="radio" name="rad"/><span>2</span>
  </label>
  <label>
    <input type="radio" name="rad"/><span>3</span>
  </label>
  <label>
    <input type="radio" name="rad"/><span>4</span>
  </label>
  <label>
    <input type="radio" name="rad"/><span>5</span>
  </label>
</div>
  </body>
</html>
